devices/n8n/watch.json
{
    "name": "Stress Calculator v2",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "stress-calc",
                "responseMode": "responseNode"
            },
            "id": "webhook-node",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "functionCode": "try {\n  const body = items[0].json.body || items[0].json;\n\n  // Validate required fields\n  if (!body.avg_heart_rate || !body.resting_heart_rate) {\n    throw new Error('Missing critical health data');\n  }\n\n  const hr = body.avg_heart_rate;\n  const rhr = body.resting_heart_rate;\n  const steps = body.total_steps ?? 5000;\n  const sleep = body.avg_sleep_duration ?? 420;\n  const activity = body.activity_level ?? 'low';\n\n  let stressScore = 0;\n\n  // 1. Heart Rate Ratio (Main Signal)\n  const hrRatio = hr / rhr;\n  if (hrRatio >= 1.6) stressScore += 45;\n  else if (hrRatio >= 1.3) stressScore += 30;\n  else if (hrRatio >= 1.1) stressScore += 15;\n  else stressScore += 5;\n\n  // 2. Sleep Impact\n  if (sleep < 240) stressScore += 30;\n  else if (sleep < 360) stressScore += 20;\n  else if (sleep < 420) stressScore += 10;\n\n  // 3. Activity Context\n  if (activity === 'high') stressScore -= 10;\n  else if (activity === 'moderate') stressScore -= 5;\n  else stressScore += 15;\n\n  // 4. Steps / Movement\n  if (steps < 2000) stressScore += 15;\n  else if (steps < 5000) stressScore += 10;\n\n  // Normalize score\n  stressScore = Math.max(0, Math.min(100, Math.round(stressScore)));\n\n  let level = 'low';\n  let recommendation = 'You are maintaining a good balance. Keep it up.';\n\n  if (stressScore > 75) {\n    level = 'high';\n    recommendation = 'High stress detected. Take a break, hydrate, and try breathing exercises.';\n  } else if (stressScore > 45) {\n    level = 'moderate';\n    recommendation = 'Moderate stress. A short walk or relaxation may help.';\n  }\n\n  return [{\n    json: {\n      success: true,\n      input_summary: {\n        hr,\n        rhr,\n        steps,\n        sleep,\n        activity\n      },\n      stress_score: stressScore,\n      stress_level: level,\n      recommendation\n    }\n  }];\n\n} catch (error) {\n  return [{\n    json: {\n      success: false,\n      error: error.message\n    }\n  }];\n}"
            },
            "id": "function-node",
            "name": "Compute Stress",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                500,
                300
            ]
        },
        {
            "parameters": {
                "responseCode": 200,
                "responseBody": "={{$json}}"
            },
            "id": "response-node",
            "name": "Respond",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                750,
                300
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Compute Stress",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Compute Stress": {
            "main": [
                [
                    {
                        "node": "Respond",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {}
}